.array-container {
    position: absolute;
    left: 100px;
}
  
.array-bar {
    padding-top: 70px;
  font-family: sans-serif;
  font-weight: 700;
  display: inline-block;
}

.navBoot{
   padding: 0.5% 1% 1% 1%;
   margin-bottom: 1%;
}

.visualizer{
  width: 100%;
  margin:auto;
}